<div class="page-header header-filter screen" id="screen-1"> 
	<div class="container">
		<div class="row">
      <h1 class="title title-center">Sample Chatroom Application</h1>
      <h3>Using Rails 5 and Action Cable</h3>

      <%= link_to "Chatrooms", main_app.chatrooms_path, class: "btn btn-primary btn-wide btn-raised btn-lg" %>
    </div>
	</div>
</div>
