<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <%= link_to main_app.root_path do %>
            Home
          <% end %>
        </li>
        
        <li>
          <a href="#">
             Link
          </a>
        </li>
        
        <li>
          <a href="#">
            Link
          </a>
        </li>
    	</ul>
    </nav>
    
    <div class="copyright pull-right">
        Copyright &copy; 2016 | Made with <i class="text-danger fa fa-heart heart"></i> in Northern California
      </div>
	</div>
</footer>